
/* Imports font(Nunito Sans) */
/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800;900&display=swap'); */


:root {
    /* Colors used */
    --mainColor: #23262e;
    --textColor: #E8E8E8;
    --secondaryTextColor: #A5ACAA;
    --accentColor: #5EBFA7;

    --animationDuration: 0.5s;
}


/* Sets every text-type tag to the font we imported */
a, h1, p, h2 {
    font-family: "Nunito Sans";
}



body {
    background-color: var(--mainColor);
}