

:root {
    /* Colors used */
    --mainColor: #23262e;
    --textColor: #E8E8E8;
    --secondaryTextColor: #A5ACAA;
    --accentColor: #5EBFA7;

    --animationDuration: 0.5s;
}


/* Sets every text-type tag to the font we imported */
/* The font(Nunito Sans) is imported from .html files */
a, h1, p, h2 {
    font-family: "Nunito Sans";
}



body {
    background-color: var(--mainColor);
}